extends main
block content
    span Link card to account
    select(id="choose-account")
        option(value="") Choose account
    button(class="" id="link-card" onclick="link_card()") Link card

    script(src="js/admin.js")