extends main
block content
    div(id="login-box")
        img(src="img/logo_256.png", id="logo" alt="Logo")
        span(id="index-title") Logga in med slack
        | <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=715933475586.753230373798" ><img alt="Sign in with Slack" id="add-to-slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
        script(src="js/signin.js")