extends main
block content
    div(id="login-box")
        img(src="img/logo_256.png", id="logo" alt="Logo")
        span(id="index-title") Logga in med slack
        | <a href="https://slack.com/oauth/authorize?client_id=715933475586.753230373798&scope=team:read"><img id="add-to-slack" alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
    