:root{
    --red: #ff1e54;
}


#logo{
    height: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

body{
    background: rgb(243, 243, 243);
    font-family: 'Roboto', sans-serif;
}

img{
    -webkit-user-drag: none;
}

#add-to-slack{
    margin: 0 auto;
    display: block;
    position: relative;
}

#index-title{
    margin: 0 auto;
    display: block;
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

#login-box{
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    height: 200px;
    background: white;
    padding: 20px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    position: relative;
    margin-top: 10vh;
}

#welcome-box{
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    background: white;
    padding: 20px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.144);
    position: relative;
    margin-top: 10vh;
}

#welcome-title{
    display: block;
    position: relative;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

#account-profile-preview{
    position: relative;
    width: 90%;
    height: 80px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(247, 29, 102), rgb(255, 2, 65));
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#profile-avatar-preview{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 100px;
    height: 60px;
}

#profile-preview-name{
    position: absolute;
    top: 12px;
    left: 80px;
    font-size: 20px;
    color: white;
}

#profile-title-choose{
    position: absolute;
    left: 80px;
    bottom: 15px;
    width: calc(90% - 80px);
    border-radius: 5px;
    border: none;
    padding: 2px;
}

*:focus{
    outline: none;
}

#ready-button{
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
}

#wrap{
    width: calc(100% - 150px);
    margin:0 auto;
    display: block;
    position: relative;
    max-width: 1000px;
}

#header{
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


#header-logo{
    height: 80px;
}

#welcome-banner{
    font-size: 25px;
    position: relative;
    margin-left: 25px;
    top: 5px;
}

#checked-in-status{
    border-bottom: solid 4px var(--red);
}


#content{
    width: 100%;
    display: block;
    height: calc(85vh - 100px);
    margin: 0 auto;
    max-height: 600px;
    position: relative;
    margin-top: 10px;
    
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

#card{
/*     visibility: hidden; */
    background: rgb(255, 255, 255);
    position: relative;
    right: -50px;
    top: 50px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    transition: top .25s;
}

#card:hover{
    top: 40px;
}

#barcode{
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 25px;
    width: 60%;
    left: 20%;
    visibility: hidden;
}

